@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.customgradient {
    /* background: rgb(163, 84, 0);
    background: linear-gradient(90deg, rgba(163, 84, 0, 1) 0%, rgba(237, 148, 65, 1) 100%); */
    background: rgb(128, 66, 0);
    background: linear-gradient(90deg, rgba(128, 66, 0, 1) 0%, rgba(176, 92, 14, 1) 100%);
}

/* .navbar {
    width: 100%;
    height: 3.5rem;
} */

/* .nav-item {
    transition: transform 1s cubic-bezier(0.61, 1, 0.88, 1);
}
 */

@keyframes slideDown {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

body {
    background-color: rgb(from black 10 20 30); /* dont like, can change later */
}

.customgradient {
    /* background: rgb(163, 84, 0);
    background: linear-gradient(90deg, rgba(163, 84, 0, 1) 0%, rgba(237, 148, 65, 1) 100%); */
    background: rgb(128, 66, 0);
    background: linear-gradient(90deg, rgba(128, 66, 0, 1) 0%, rgba(176, 92, 14, 1) 100%);
}

.dropdown-menu {
    background-color: #e6883b;
    animation: slideDown 0.3s ease;


}

li .dropdown-item {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.6s cubic-bezier(0.12, 0, 0.39, 0);
}


li .dropdown-item:hover {
    background-color: #cf7429;
    /* color: white; */

}






.imagesection {
    width: 100%;
    height: 94vh;
    position: relative;
    overflow: hidden;
    /* background-color: #D6D2C4; */
    background-color: #161B22;
    font-size: 1 rem;
}

.imagesection::after {


    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    /* background-color: #a54b01;  */
    /* background: linear-gradient(90deg, rgba(165,75,1,1) 0%, rgba(195,94,0,1) 100%); */
    /* background: linear-gradient(90deg, rgba(135,61,0,1) 0%, rgba(222,107,0,1) 100%); */
    background: linear-gradient(90deg, rgba(98, 44, 0, 1) 0%, rgba(222, 107, 0, 1) 100%);

    z-index: 2;
    clip-path: polygon(100% 68%, 0% 100%, 100% 100%);
    content: "";
    z-index: 0;



}

.imagesection img {
    width: 100%;
    height: 100%;
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 68%, 0 100%);
    /* clip-path: polygon(0 0, 0% 100%, 100% 0); */
    object-fit: cover;
    opacity: 60%;
    filter: brightness(30%);
}



.image-text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: black;
    font-size: 3em;
    text-align: center;

    display: flex;
    flex-direction: column;
    color: white;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    /* three lines above are to let the text fade in on load */

}

.image-text-content h1 {
    font-size: 1.5em;
}

.executive-members {
    color: white; /* for the sake of having something */
    background-color: inherit;
    /* height: 100% */
    width: 75%;

    margin: 0 auto;

    /* for header text */
    text-align: center;

    & h1 {
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 5em;
    }
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.executive-card {
    background-color: white;
    border-radius: 10%;
    margin-right: 1%;
}

.executive-img img {
    margin-top: 5%;
    border-radius: 50%;
    border-color: black;
    height: 75%;
    width: 75%;
    border: 5px solid #cf7429;
}

.executive-info {
    color: black;
    margin-top: 10%;
    margin-bottom: 20%;
}

