@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.customgradient {
    /* background: rgb(163, 84, 0);
    background: linear-gradient(90deg, rgba(163, 84, 0, 1) 0%, rgba(237, 148, 65, 1) 100%); */
    background: rgb(128, 66, 0);
    background: linear-gradient(90deg, rgba(128, 66, 0, 1) 0%, rgba(176, 92, 14, 1) 100%);
}

/* .navbar {
    width: 100%;
    height: 3.5rem;
} */

/* .nav-item {
    transition: transform 1s cubic-bezier(0.61, 1, 0.88, 1);
}
 */

@keyframes slideDown {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

body {
    background-color: rgb(from black 10 20 30); /* dont like, can change later */
}

.customgradient {
    /* background: rgb(163, 84, 0);
    background: linear-gradient(90deg, rgba(163, 84, 0, 1) 0%, rgba(237, 148, 65, 1) 100%); */
    background: rgb(128, 66, 0);
    background: linear-gradient(90deg, rgba(128, 66, 0, 1) 0%, rgba(176, 92, 14, 1) 100%);
}

.dropdown-menu {
    background-color: #e6883b;
    animation: slideDown 0.3s ease;


}

li .dropdown-item {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.6s cubic-bezier(0.12, 0, 0.39, 0);
}


li .dropdown-item:hover {
    background-color: #cf7429;
    /* color: white; */

}






.imagesection {
    width: 100%;
    height: 94vh;
    position: relative;
    overflow: hidden;
    /* background-color: #D6D2C4; */
    background-color: #161B22;
    font-size: 1 rem;
}

.imagesection::after {


    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    /* background-color: #a54b01;  */
    /* background: linear-gradient(90deg, rgba(165,75,1,1) 0%, rgba(195,94,0,1) 100%); */
    /* background: linear-gradient(90deg, rgba(135,61,0,1) 0%, rgba(222,107,0,1) 100%); */
    background: linear-gradient(90deg, rgba(98, 44, 0, 1) 0%, rgba(222, 107, 0, 1) 100%);

    z-index: 2;
    clip-path: polygon(100% 68%, 0% 100%, 100% 100%);
    content: "";
    z-index: 0;



}

.imagesection img {
    width: 100%;
    height: 100%;
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 68%, 0 100%);
    /* clip-path: polygon(0 0, 0% 100%, 100% 0); */
    object-fit: cover;
    opacity: 60%;
    filter: brightness(30%);
}



.image-text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: black;
    font-size: 3em;
    text-align: center;

    display: flex;
    flex-direction: column;
    color: white;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    /* three lines above are to let the text fade in on load */

}

.image-text-content h1 {
    font-size: 1.5em;
}

.executive-members {
    color: white; /* for the sake of having something */
    background-color: inherit;
    /* height: 100% */
    width: 75%;

    margin: 0 auto;
    padding: 2em;

    /* for header text */
    text-align: center;

    & h1 {
        text-align: center;
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 5em;
    }
}

.president {
    display: flex;
    margin-bottom: 3%;
    width: 25%;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-content: center;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.executive-card {
    background-color: white;
    border-radius: 10%;
    margin-right: 1%;
}

.executive-img img {
    margin-top: 5%;
    border-radius: 50%;
    border-color: black;
    height: 75%;
    width: 75%;
    border: 5px solid #cf7429;
}

.executive-info {
    color: black;
    margin-top: 10%;
    margin-bottom: 20%;
}

.box {
    /* background-color: rgb(241, 241, 241); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5em;
    margin: 2.5em;
    flex-wrap: wrap;
  
    /* font-weight: bold;
    padding: 1em;
    text-align: right;
    color: #181a1a;
    
    width:  300px;
    height: 400px;
    box-shadow: 0 1px 5px #00000099; */
  
    border-radius: 10px;
    border: 1px;
    /* border-color: rgb(201, 201, 201); */
    border-color: #2E343B;
    border-style: solid;
  
    position: relative;
  
    background-color: #161B22;
    color: white;

    & button {
        width: fit-content;
        background-color: rgba(255, 255, 255, 0.9);
        color: rgba(0, 0, 0, 0.9);
        border: 0;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
        transition: background var(--speed), color var(--speed);

        &:hover {
            /* background-color: rgba(0, 0, 0, 0.9); */
            background-color: #161B22;
            color: rgba(255, 255, 255, 0.9);
        }
  }
}

.info h1{
    color: #cf7429;
}


.info.two h1{
    color: #cf7429;
    align-items: center;
    justify-content: center;
    margin: 2.5em;
}


.info {
    width: 100%;
    /* height: 40vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5em;
    /* flex-wrap: wrap; */
    font-size: 1.5em;
  
    perspective: 1500px;
  
    background-color: #0D1117;
  
  }
  
  .info.two {
    background-color: #D6D2C4;
    background-image: url(https://res.cloudinary.com/scalefunder/image/fetch/s--T-bX0TmQ--/f_auto,fl_lossy,q_auto/https://res.cloudinary.com/scalefunder/image/upload/v1552072002/HornRaiser/pzpw69atyywwxizxkpla.jpg);
    background-size: cover;
    background-attachment: fixed;

  }
  
  .loop-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #a54b01;
    opacity: 50%;
    z-index: -1;
    box-shadow: inset 0 0 100px 25px rgba(0, 0, 0, 0.5);
  
  }

  .box {
    /* background-color: rgb(241, 241, 241); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5em;
    margin: 2.5em;
    flex-wrap: wrap;
  
    /* font-weight: bold;
    padding: 1em;
    text-align: right;
    color: #181a1a;
    
    width:  300px;
    height: 400px;
    box-shadow: 0 1px 5px #00000099; */
  
    border-radius: 10px;
    border: 1px;
    /* border-color: rgb(201, 201, 201); */
    border-color: #2E343B;
    border-style: solid;
  
    position: relative;
  
    background-color: #161B22;
    color: white;
    padding: 2em;
  
    & button {
        width: fit-content;
        background-color: rgba(255, 255, 255, 0.9);
        color: rgba(0, 0, 0, 0.9);
        border: 0;
        border-radius: 0.25rem;
        padding: 0.75rem;
        cursor: pointer;
        transition: background var(--speed), color var(--speed);
  
        &:hover {
            /* background-color: rgba(0, 0, 0, 0.9); */
            background-color: #161B22;
            color: rgba(255, 255, 255, 0.9);
        }
  }
  }

  .Execs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem 20rem 5rem;
  }
  
  .cards-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8rem;
    width: 100%;
  }
  
  .card {
    width: 37rem;
    height: 45rem;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 75%;
    position: relative;
  }
  
  .card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: 75%;
  }
  
  .card-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 75%;
    transition: opacity 0.3s;
  }
  
  .card:hover .card-img-wrapper img {
    opacity: 0.5;
  }
  
  .card-info {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  
  .card:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
  }
  
  .card-info h2 {
    font-family: "Baloo Da 2", serif;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 300;
    color: #eee;
  }
  
  .card-info h3 {
    font-family: "Muli", serif;
    font-size: 2rem;
    font-weight: 500;
    color: #a52a2a;
    margin-bottom: 1rem;
  }
  
  .card-info p {
    font-family: "Baloo da 2", serif;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 300;
    color: #eee;
    width: 80%;
    margin-bottom: 2rem;
  }
  

  

  
  @media (max-width: 1500px) {
  
    .card {
      width: 34rem;
    }
  
  }

  
  
  @media (max-width: 1300px) {
    .movieGenres {
      padding-bottom: 5rem;
    }
  
    .cards-wrapper {
      flex-direction: column;
      align-items: center;
      margin-top: 4rem;
    }
  
    .card {
      margin-bottom: 8rem;
    }
  }

  



